* {
    box-sizing: border-box;
}

:root {
    --background-color: black;
    --header-text: pink;
    --header-font-size: 15px;
    --text-light: white;
    --Card-Border: white; 
    --Card-Font-Size: 15px; 
}

body {
background-color: var(--background-color);
}

header {
 text-align: center;  
}

header p {
    color: var(--text-light)
}

.Large-Font {
    color: var(--header-text);
    font-size: var(--header-font-size);
}

.Short-Card-Format {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.Short-Card-Format section {
    border: dashed;
    border-color: var(--Card-Border);
    color: var(--text-light);
    font-size: var(--Card-Font-Size);
    padding: 15px;
}

.Short-Card-Format header {
    border: solid;
    border-radius: 25px;
    border-color: var(--Card-Border);
    z-index: +1;
    position:relative;
    background-color: var(--background-color);
    position: relative;
    left: 25%;
    bottom: 25px;
    width: 50%;
}

.code-format {
    border-radius: 25px;
    background: linear-gradient(217deg, rgba(246, 122, 122, 0.8), rgba(202, 88, 88, 0) 70.71%),
            linear-gradient(127deg, rgba(243, 200, 168, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(241, 201, 241, 0.8), rgba(0,0,255,0) 70.71%);
}

.Long-Card-Format {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
}

.Long-Card-Format section {
    border: dashed;
    border-color: var(--Card-Border);
    color: var(--text-light);
    font-size: var(--Card-Font-Size);
    padding: 15px;
}

.Long-Card-Format header {
    border: solid;
    border-radius: 25px;
    border-color: var(--Card-Border);
    z-index: +1;
    position:relative;
    background-color: var(--background-color);
    position: relative;
    left: 25%;
    bottom: 25px;
    width: 50%;}

    footer {
        display: flex; 
        justify-content: center;
    }

    @media screen and (max-width: 768px) {
        main,
        nav {
          flex-direction: column;
        }
    }