* {
    box-sizing: border-box;
}

:root {
    --background-color: rgb(248, 234, 184);
    --header-text: pink;
    --header-font-size: 15px;
    --text-light: white;
    --Card-Border: white; 
    --Card-Font-Size: 15px; 
}

body {
background-color: var(--background-color);
}

header {
 /*display: flex;*/
 text-align: center;  
}

header p {
    color: var(--text-light)
}

.Large-Font {
    color: var(--header-text);
    font-size: var(--header-font-size);
}

.Short-Card-Format {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.Short-Card-Format section {
    /*display: flex; */
    border: dashed;
    border-color: var(--Card-Borders);
    border-radius: 25px;
    color: --text-light;
    font-size: var(--Card-Font-Size);
    padding: 15px;
    /* margin-left: 50px;
    margin-right: 50px; */
}
/*
.Short-Card-Format::after {
    content:"'";
    clear:both;
    display: table;
}
*/
.Short-Card-Format header {
    /*display: flex; */
    border: solid;
    border-color: var(--Card-Border);
    z-index: +1;
    position:relative;
    background-color: var(--background-color);
    position: relative;
    left: 25%;
    bottom: 25px;
    width: 50%;
    
}